@import url("../conf/base.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #EEE;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
}

.container .titulo {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: aqua;
    border-top: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
    padding: 10px;
    font-weight: bolder;
}

.container .aluno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* FOTO ALUNO */

.container .aluno .img-area {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: yellow;
}

/* INFORMAÇÔES DO ALUNO */

.container .aluno .infos-area {
    padding: 10px;
}

.aluno .infos-area>p {
    font-size: 19px;
    margin: 6px 0px;
}

/* PRÓXIMO ALUNO */

.aluno .proxAluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.aluno .proxAluno #proximo-botao {
    background-color: #3498db;
    /* Aplicar a cor como variavel */
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.aluno .proxAluno #maisInfos-botao {
    padding: 10px 5px;
    text-align: center;
    color: blue;
    text-decoration: none;
}


/* PARTE 2 - Faltas do Aluno */

.faltasAluno {
    text-align: center;
}

.titulo2 {
    background-color: gray;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    display: inline-block;
}


.faltasAluno .container-grid {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #CCC;
    border-radius: 10px;
}

.grupo-materia {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1px solid black;
    background-color: #EEE;
    padding: 10px;
    margin: 2px;
}



/* PARTE 3 - Ocorrência disciplinar do aluno */

.ocorrencia-disciplinar{
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

.ocorrencia-disciplinar table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    min-width: 600px; 
    text-align: center;
}


th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Estilizando para telas menores */
@media (max-width: 600px) {
    th, td {
        font-size: 14px;
        padding: 10px;
    }
}



/* O HTML DO CÓDIGO ABAIXO ESTÁ EM > ocorrencia-disciplinar & faltasAluno */

.todasInfors{
    text-align: right;
    padding: 10px;
}

.todasInfors a {
    color: blue;
    text-decoration: none;
}

/* RESPONSIVIDADE (TABLET) */

@media(width <=694px) {
    .container .titulo {
        font-size: 16px;
    }

    .aluno .infos-area>p {
        text-align: center;
        font-size: 17px;
    }

    /* AJEITAR */

    .container .aluno .img-area {
        width: 100px;
        height: 100px;
    } 

}


@media(width <=496px) {
    .container .titulo {
        font-size: 14px;
    }

    .aluno .infos-area>p {
        text-align: center;
        font-size: 15px;
    }
}